@import './../../../../variables';
@import './../../../../mixins';

.product-container {
  margin-bottom: 20px;
  padding: 10px;

  img {
    @include style-images(50%, 120px, 120px);
  }
}

.price {
  font-size: 18px;
  font-weight: 500;
}

.button-product {
  @include style-buttons($main-color, $white);
  font-weight: 500;
}
