@import './../../variables';
@import './../../mixins';

.title-cart {
  font-size: 30px;
  font-weight: 500;
}

.msg-empty-cart {
  font-size: 20px;
}

.button-checkout,
.button-back {
  @include style-buttons($main-color, $white);
  font-weight: 500;
  padding: 10px 50px;
}

.table {
  user-select: none;

  thead {
    background-color: $gray;

    th {
      border: 0;
    }
  }

  tbody {
    td {
      vertical-align: middle;
    }
  }
}

.borderless {
  td,
  th {
    border: 0;
  }
}

.table-foot {
  border-bottom: 1px solid $gray;
  border-top: 1px solid $gray;
  color: $main-color;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
}

.icons-cart {
  @include style-icons($main-color, 12px);
  margin: 0 10px;
}

.icon-delete {
  @include style-icons($main-color, 16px);
}

.product-img {
  @include style-images(50%, 30px, 30px);
  margin-right: 10px;
}
