@import './../../../variables';

.title-products {
  font-weight: 500;
}

.list-categories {
  border-top: 1px solid $gray;
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
}

.category {
  cursor: pointer;
  padding: 5px;

  &:hover {
    color: $main-color;
    font-weight: 500;
  }
}

.active-category {
  color: $main-color;
  font-weight: 500;
}
