@import './../variables';
@import './../mixins';

.header-container {
  background-color: $main-color;
  box-shadow: 0 5px 20px -5px $shadow-color;
  padding: 20px;

  img {
    height: 40px;
    margin-right: 10px;
  }
}

.header-title {
  color: $white;
  cursor: pointer;
  font-size: 20px;
}

.icon-show-cart {
  @include style-icons($white, 20px);
}
